<div class="modal fade" id="cancelModal-{{ carpool.id }}" tabindex="-1" aria-labelledby="cancelModalLabel-{{ carpool.id }}" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="cancelModalLabel">Annulation de réservation-{{ carpool.carpoolNumber }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>
					<strong>Êtes-vous sûr de vouloir annuler votre réservation</strong>?</p>
				<p>
					<strong>Prix :</strong>
					{{ carpool.price }}
					crédits</p>
				<p>
					<strong>Date :</strong>
					{{ carpool.day|date('d/m/Y') }}</p>
				<p>
					<strong>Nom du chauffeur :</strong>
					{{ carpool.driver.user.pseudo }}</p>
				<p>Vos crédits vous seront rendus</p>
			</div>
			<div class="modal-footer">
				<form method="POST" action="{{ path('app_user_carpool_cancel', {'id': carpool.id}) }}">
					<button type="submit" class="btn btn-danger">Annuler réservation</button>
				</form>
			</div>
		</div>
	</div>
</div>
