{% extends 'base.html.twig' %}

{% block title %}Ajouter un véhicule{% endblock %}

{% block body %}
<section>
    <h1>Ajouter un véhicule</h1>
    {# DriverCar form #}
   <div>
		<div>
		{{ form_start(carForm) }}

        {{ form_row(carForm.brand) }}
        {{ form_row(carForm.model) }}
        {{ form_row(carForm.color) }}
        {{ form_row(carForm.seats) }}
        {{ form_row(carForm.plate_number) }}
        {{ form_row(carForm.first_registration) }}
        {{ form_row(carForm.energy) }}

		<div class="mt-3">
			<button class="btn btn-primary" type="submit">Ajouter</button>
		</div>
		{{ form_end(carForm) }}
	</div>

</section>
{% endblock %}
