{% extends 'base.html.twig' %}

{% block title %}Vos véhicule
{% endblock %}

{% block body %}
	<main class="wrapper container-fluid">
		<div class="row">

			{% include "_partials/aside/_drivernav.html.twig" %}

			<div class="col-12 d-flex d-md-none align-items-center bg-info py-2">
				<button class="btn btn-outline-light ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#driverOffcanvas" aria-controls="driverOffcanvas">
					<i class="fa fa-bars text-dark fs-4"></i>
				</button>
				<span class="text-dark fw-bold ms-3 fs-5">Menu chauffeur</span>
			</div>
			{% include "_partials/aside/_offcanvas_drivernav.html.twig" %}

			<div class="col-12 col-md-9 col-lg-10">
				<h1 class="text-center mt-3">Vos véhicules</h1>
				<div class="table-responsive">
					<table class="table table-striped table-success">
						<thead>
							<tr>
								<th>Marque</th>
								<th>Modèle</th>
								<th>Places</th>
								<th>Plaque</th>
								<th>Date Immat.</th>
								<th>Energie</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for car in cars %}
								<tr>
									<td>{{ car.brand }}</td>
									<td>{{ car.model }}</td>
									<td>{{ car.seats }}</td>
									<td>{{ car.plateNumber}}</td>
									<td>{{ car.firstRegistration|date('d/m/Y') }}</td>
									<td>{{ car.energy }}</td>
									<td>
										<button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ car.id }}">Supprimer</button>
										<a class="btn btn-warning btn-sm" href="{{ path('app_driver_car_edit', {id: car.id}) }}">Modifier</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- Modals -->
		{% for car in cars %}
			{% include "_partials/modals/driver/delete_cars_modals.html.twig" %}
		{% endfor %}
	</main>
{% endblock %}
