{% extends 'base.html.twig' %}

{% block title %}Modifier covoiturages
{% endblock %}

{% block importmap %}
	{{ importmap(['app', 'showMap', 'calculateTime', 'dateSearch' ]) }}
{% endblock %}

{% block javascripts %}
	{# base.html.twig JS block #}
	{{ parent() }}
	<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap&loading=async" async></script>
{% endblock %}


{% block body %}

	<section>
		<h1>Modifier covoiturages</h1>

		<div
			class="container mb-3">
			<!-- CreateCarpool Form -->
			{{ form_start(carpoolForm) }}

			<!-- dateSearch.js -->
			{{ form_row(carpoolForm.day) }}
			{{ form_row(carpoolForm.address_start) }}
			{{ form_row(carpoolForm.address_end) }}
			{{ form_row(carpoolForm.begin) }}
			{{ form_row(carpoolForm.end) }}
			<div>
				{{ form_row(carpoolForm.price) }}
				<p>2 crédits iront à la plateforme</p>
			</div>
			{{ form_row(carpoolForm.car) }}
			{{ form_row(carpoolForm.isEcological) }}

			<div class="mt-3">
				<button class="btn btn-primary" type="submit">Modifier</button>
			</div>
			{{ form_end(carpoolForm) }}
		</div>
		<div class="container col-lg-8 mb-5">
			<h2>Apercu du trajet</h2>
			<!-- ShowMap.js -->
			<div id="map" style="height: 500px;"></div>
		</div>
	</section>
{% endblock %}
