{% extends 'base.html.twig' %}

{% block title %}Détails du covoiturages
{% endblock %}


{% block importmap %}
	{{ importmap(['app', 'detailsCarpool']) }}
{% endblock %}
{% block javascripts %}
	{# base.html.twig JS block #}
	{{ parent() }}

	<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap&loading=async" async></script>
{% endblock %}


{% block body %}

	<section>
		<h1>Détails du covoiturage
			{{ carpool.carpoolNumber }}</h1>
		<div class="container">
			<h2>Votre véhicule</h2>
			<div class="table-responsive">
				<table class="table table-striped table-success">
					<thead>
						<tr>
							<th>Marque</th>
							<th>Modèle</th>
							<th>Couleur</th>
							<th>Plaque</th>
							<th>Energie</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ carpool.car.brand }}</td>
							<td>{{ carpool.car.model }}</td>
							<td>{{ carpool.car.color }}</td>
							<td>{{ carpool.car.PlateNumber }}</td>
							<td>{{ carpool.car.energy }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		{# Price and confirm reservations section #}
		<div id="price-container" class="container mt-5 col-lg-6 col-md-6 col-sm-10">
			<div class="card shadow-lg">
				<div class="card-body">
					<div class="d-flex justify-content-between align-items-center mb-2 pb-2">
						<div class="fs-5 d-flex align-items-center">
							<span class="me-2">
								<strong>Prix :</strong>
							</span>
							<span id="reservation-prix">{{ carpool.price }}
								Crédits</span>
						</div>
						<div class="d-flex align-items-center">
							{% if not app.user %}
								<a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter pour réserver</a>
							{% elseif not app.user.isPassenger %}
								<p class="text-danger mb-0">Un chauffeur ne peut pas réserver</p>
							{% elseif carpool.PlacesAvailable == 0 %}
								<p class="text-danger mb-0">Plus de places disponibles</p>
							{% elseif app.user.credits >= carpool.price %}
								<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmationModal">Réserver</button>
							{% else %}
								<p class="text-danger mb-0">Crédits insuffisants</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<h2>Informations</h2>
			<p>Jour :
				{{ carpool.day|date('d/m/Y') }}</p>
			<p>Heure de départ :
				{{ carpool.begin|date('H:i') }}</p>
			<p>Heure d'arrivée :
				{{ carpool.end|date('H:i') }}</p>
			<p>Trajet écologique :
				{% if carpool.isEcological %}
					Oui
				{% else %}
					Non
				{% endif %}
			</p>
		</div>
		<div class="container">
			<h2>Votre chauffeur</h2>
			<div id="guide-details" class="container mt-5 mb-5 col-lg-6 col-md-6 col-sm-10">
				<div class="card shadow-lg">
					<div class="card-body">
						<div class="border-bottom pb-3 mb-2 d-flex align-items-center">
							<div class="ms-3">
								<img id="guide-image" src="{{ carpool.driver.user.photo ? asset('uploads/users/mini/40x40-' ~ carpool.driver.user.photo) : asset('/images/favicon.png') }}" alt="Photo du guide" class=" rounded-circle" width="100" height="100">
							</div>
							<div class="ms-4">
								<span class="fw-bold">{{ carpool.driver.user.pseudo }}</span>
								<div class="d-flex align-items-center mt-2">
									<span class="fw-bold me-2">
										{% if averageRating is not null %}
											{{ averageRating|number_format(1) }}/5
										{% else %}
											-/5
										{% endif %}
									</span>
									<i class="fa-solid fa-star text-secondary me-3"></i>
									<a href="{{ path('app_review_details', { 'pseudo': carpool.driver.user.pseudo }) }}" class="text-warning fw-bold">
										<b>
											{{ totalReviews }}
											Avis</b>
									</a>
								</div>
							</div>
						</div>
						<div>
							<span>
								<b>Fumeur :</b>
							</span>
							<span>
								{% if carpool.driver.smoking %}
									Oui
								{% else %}
									Non
								{% endif %}
							</span><br><br>
							<span>
								<b>Animaux:</b>
							</span>
							<span>
								{% if carpool.driver.animals %}
									Oui
								{% else %}
									Non
								{% endif %}
							</span><br><br>
							<span>
								<b>Ptéférences :</b>
							</span>
							<span>{{ carpool.driver.preferences }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container mb-5">
			<h2>Aperçu du trajet</h2>
			<div class="d-flex">
				<p class="fw-bold me-2">Départ :</p>
				<span class="me-3">
					{{ carpool.AddressStart}}</span>
				<p class="fw-bold me-2">Arrivé :</p>
				<span>
					{{ carpool.AddressEnd }}</span>
			</div>
			<!-- detailsCarpools.js -->
			<div id="map" class="col-lg-8" style="height: 500px;" data-address-start="{{ carpool.addressStart|e('html_attr') }}" data-address-end="{{ carpool.addressEnd|e('html_attr') }}"></div>
			<div id="route-info"></div>
		</section>
		<!-- Modals -->
		{% include "_partials/modals/user/confirm_reservation_modals.html.twig" %}
	{% endblock %}
