{% extends 'base.html.twig' %}

{% block title %}Détails du covoiturages
{% endblock %}


{% block importmap %}
	{{ importmap(['app', 'detailsCarpool']) }}
{% endblock %}
{% block javascripts %}
	{# base.html.twig JS block #}
	{{ parent() }}

	<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap&loading=async" async></script>
{% endblock %}


{% block body %}
	<main>
		<h1 class="text-center mt-3">Détails du covoiturage</h1>
		<section class="container flux mt-5">
			<h2 class="mb-3">Votre véhicule</h2>
			<div class="table-responsive">
				<table class="table table-striped table-success">
					<thead>
						<tr>
							<th>Marque</th>
							<th>Modèle</th>
							<th>Couleur</th>
							<th>Plaque</th>
							<th>Energie</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ carpool.car.brand }}</td>
							<td>{{ carpool.car.model }}</td>
							<td>{{ carpool.car.color }}</td>
							<td>{{ carpool.car.PlateNumber }}</td>
							<td>{{ carpool.car.energy }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="container flux mt-3">
			<h2>Informations</h2>
			<div class="container mt-5 mb-5 col-lg-6 col-md-6 col-sm-10">
				<div class="card shadow-lg">
					<div class="card-body">
						<div class="border-bottom pb-3 mb-2">
							<div class="d-flex flex-wrap align-items-center justify-content-between">
								<div class="me-4 mb-2">
									<span class="fw-bold">Jour :</span>
									<span>{{ carpool.day|date('d/m/Y') }}</span>
								</div>
								<div class="me-4 mb-2">
									<span class="fw-bold">Trajet écologique :</span>
									<span>
										{% if carpool.isEcological %}
											Oui
										{% else %}
											Non
										{% endif %}
									</span>
								</div>
								<div class="me-4 mb-2">
									<span class="fw-bold">Heure de départ :</span>
									<span>{{ carpool.begin|date('H:i') }}</span>
								</div>
								<div class="me-4 mb-2">
									<span class="fw-bold">Heure d'arrivée :</span>
									<span>{{ carpool.end|date('H:i') }}</span>
								</div>
							</div>
						</div>
						<div class="d-flex mt-3">
							<span class="fw-bold me-lg-2 mb-1 mb-lg-0">Prix :</span>
							<span>{{ carpool.price }}
								Crédits</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="container flux">
			<div class="row">
				<div class="col-lg-6 mx-auto">
					<div class="d-flex justify-content-center">
						{% if not app.user %}
							<a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter pour réserver</a>
						{% elseif not app.user.isPassenger %}
							<p class="text-danger fs-5">Un chauffeur ne peut pas réserver</p>
						{% elseif carpool.PlacesAvailable == 0 %}
							<p class="text-danger fs-5">Plus de places disponibles</p>
						{% elseif app.user.credits >= carpool.price %}
							<button class="btn btn-secondary w-100" data-bs-toggle="modal" data-bs-target="#confirmationModal">Réserver</button>
						{% else %}
							<p class="text-danger text-center fs-5">Crédits insuffisants pour réserver</p>
						{% endif %}
					</div>
				</div>
			</div>
		</section>
		<section class="container flux mt-3">
			<h2>Votre chauffeur</h2>
			<div id="guide-details" class="container mt-5 mb-5 col-lg-6 col-md-6 col-sm-10">
				<div class="card shadow-lg">
					<div class="card-body">
						<div class="border-bottom pb-3 mb-2 d-flex align-items-center">
							<div class="ms-3">
								<img id="guide-image" src="{{ carpool.driver.user.photo ? asset('uploads/users/mini/40x40-' ~ carpool.driver.user.photo) : asset('/images/favicon.png') }}" alt="Photo du guide" class=" rounded-circle" width="100" height="100">
							</div>
							<div class="ms-4">
								<span class="fw-bold">{{ carpool.driver.user.pseudo }}</span>
								<div class="d-flex align-items-center mt-2 flex-wrap">
									<span class="fw-bold me-2">
										{% if averageRating is not null %}
											{{ averageRating|number_format(1) }}/5
										{% else %}
											-/5
										{% endif %}
									</span>
									<i class="fa-solid fa-star text-secondary me-3"></i>
									<a href="{{ path('app_review_details', { 'pseudo': carpool.driver.user.pseudo }) }}" class="text-warning fw-bold d-block d-md-inline mt-2 mt-md-0">
										<b>{{ totalReviews }}
											Avis</b>
									</a>
								</div>
							</div>
						</div>
						<div>
							<span>
								<b>Fumeur :</b>
							</span>
							<span>
								{% if carpool.driver.smoking %}
									Oui
								{% else %}
									Non
								{% endif %}
							</span><br><br>
							<span>
								<b>Animaux:</b>
							</span>
							<span>
								{% if carpool.driver.animals %}
									Oui
								{% else %}
									Non
								{% endif %}
							</span><br><br>
							<span>
								<b>Ptéférences :</b>
							</span>
							<span>{{ carpool.driver.preferences }}</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="container flux mb-5">
			<h2 class="mb-4">Aperçu du trajet</h2>
			<div class="card shadow-lg mb-4">
				<div class="card-body">
					<div class="row align-items-center mb-3">
						<div class="col-12 col-md-6 d-flex align-items-center mb-2 mb-md-0">
							<span class="fw-bold me-2 text-info">
								<i class="fa-solid fa-play"></i>
								Départ :
							</span>
							<span>{{ carpool.addressStart }}</span>
						</div>
						<div class="col-12 col-md-6 d-flex align-items-center">
							<span class="fw-bold me-2 text-success">
								<i class="fa-solid fa-flag-checkered"></i>
								Arrivée :
							</span>
							<span>{{ carpool.addressEnd }}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div id="map" class="map-all w-100" data-address-start="{{ carpool.addressStart|e('html_attr') }}" data-address-end="{{ carpool.addressEnd|e('html_attr') }}"></div>
							<div class="fs-5" id="route-info"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!-- Modals -->
	{% include "_partials/modals/user/confirm_reservation_modals.html.twig" %}
{% endblock %}
