{% extends 'base.html.twig' %}

{% block title %}Covoiturages
{% endblock %}

{% block importmap %}
	{{ importmap(['app', 'getGeolocation', 'searchDate' ]) }}
{% endblock %}

{% block body %}
	<main>
		<section class="hero_home text-center d-flex align-items-center justify-content-center container-fluid">
			<h1 class="text-white title title text-center">Le covoiturage éco-responsable<br>
				à portée de main</h1>
		</section>
		<section class="flux">
			<h2 class="text-secondary text-center mt-3">Comment ça marche</h2>
			<div class="container my-5">
				<div class="row justify-content-center text-center">
					<div class="col-12 col-md-6 col-lg-3 mb-4">
						<div class="bg-warning steps d-flex flex-column align-items-center justify-content-center rounded-circle shadow mx-auto text-dark">
							<i class="fas fa-search mb-2"></i>
							<div class="fs-3">Etape 1</div>
							<div class="fs-4">Rechercher</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3 mb-4">
						<div class="steps d-flex flex-column align-items-center justify-content-center rounded-circle shadow mx-auto text-dark bg-primary">
							<i class="fas fa-calendar-alt mb-2"></i>
							<div class="fs-3">Etape 2</div>
							<div class="fs-4">Réserver</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3 mb-4">
						<div class="bg-info steps d-flex flex-column align-items-center justify-content-center rounded-circle shadow mx-auto text-dark">
							<i class="fas fa-smile mb-2"></i>
							<div class="fs-3">Etape 3</div>
							<div class="fs-4">Rencontrer</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3 mb-4">
						<div class="bg-secondary steps d-flex flex-column align-items-center justify-content-center rounded-circle shadow mx-auto text-dark">
							<i class="fas fa-map-marker-alt mb-2"></i>
							<div class="fs-3">Etape 4</div>
							<div class="fs-4">Voyager</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="home-reserv position-relative text-center d-flex align-items-center justify-content-center container-fluid">
			<h2 class="text-white position-absolute title title text-center">Réservez votre trajet des maintenant</h2>
		</section>
		<section class="container-fluid bg-info py-5">
			<div class="d-flex justify-content-center align-items-center">
				<div class="search-form p-4 rounded shadow">
					<div>
						<h3 class="text-center mb-4">Planifiez votre prochain covoiturage</h3>
					</div>
					{{ form_start(searchForm) }}
					<div>
						{{ form_row(searchForm.date) }}
					</div>
					{{ form_label(searchForm.address_start) }}
					<div class="input-group">
						{{ form_widget(searchForm.address_start, {'attr': {'class': 'form-control'}}) }}
						<button onclick="getLocation()" type="button" class="btn btn-outline-secondary">
							<i class="fa-solid fa-location-dot"></i>
						</button>
						<div id="geo-output"></div>
					</div>
					<p>Cliquez sur l'icone si vous souhaiter être géolocaliser</p>
					<div>
						{{ form_row(searchForm.address_end) }}
					</div>
					<button type="submit" class="btn btn-secondary w-100">Rechercher</button>
					{{ form_end(searchForm) }}
				</div>
			</div>
		</section>
		<section class="flux">
			<h2 class="text-secondary text-center mt-4">Nos trajets populaires</h2>
			<div class="container my-5">
				<div class="row justify-content-center">
					<div class="col-12 col-md-4 d-flex justify-content-center mb-4">
						<div class="bg-info route-card d-flex align-items-center justify-content-center w-100">
							<span class="fs-4">Paris &rarr; Lille</span>
						</div>
					</div>
					<div class="col-12 col-md-4 d-flex justify-content-center mb-4">
						<div class="bg-info route-card d-flex align-items-center justify-content-center w-100">
							<span class="fs-4">Rennes &rarr; Paris</span>
						</div>
					</div>
					<div class="col-12 col-md-4 d-flex justify-content-center mb-4">
						<div class="bg-info route-card d-flex align-items-center justify-content-center w-100">
							<span class="fs-4">Paris &rarr; Lyon</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="container-fluid bg-info py-5">
			<div class="flux container">
				<div class="row align-items-center">
					<div class="col-lg-6 d-flex justify-content-center align-items-center mb-4 mb-lg-0 min-vh-25">
						<div class="image-size d-flex align-items-center justify-content-center overflow-hidden">
							<img src="{{ asset('/images/car.webp') }}" alt="Description" class="rounded shadow w-100 h-100 object-fit-cover">
						</div>
					</div>
					<div class="col-lg-6 d-flex flex-column justify-content-center align-items-center text-center">
						<h2 class="text-white">Prenez le volant avec nous</h2>
						<p>
							Rejoignez notre communauté de conducteurs engagés pour un covoiturage écologique. Partagez vos trajets, gagnez des crédits et contribuez à réduire votre empreinte carbone tout en rencontrant de nouvelles personnes.
						</p>
					</div>
				</div>
			</div>
		</section>
	</main>

{% endblock %}
