{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contactez-nous</h1>

    {{ form_start(contactForm) }}
        <div class="mb-3">
            {{ form_label(contactForm.pseudo) }}
            {{ form_widget(contactForm.pseudo, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(contactForm.pseudo) }}
        </div>
        <div class="mb-3">
            {{ form_label(contactForm.email) }}
            {{ form_widget(contactForm.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(contactForm.email) }}
        </div>
        <div class="mb-3">
            {{ form_label(contactForm.subject) }}
            {{ form_widget(contactForm.subject, {'attr': {'class': 'form-select'}}) }}
            {{ form_errors(contactForm.subject) }}
        </div>
        <div class="mb-3">
            {{ form_label(contactForm.message) }}
            {{ form_widget(contactForm.message, {'attr': {'class': 'form-control', 'rows': 6}}) }}
            {{ form_errors(contactForm.message) }}
        </div>
        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(contactForm) }}
{% endblock %}