{% extends 'base.html.twig' %}

{% block title %}Votre première voiture
{% endblock %}

{% block body %}
	<h1>Inscription en tant que chauffeur</h1>
	<p>Etape 2 sur 2</p>
	<p>Enregistrer votre premier véhicule</p>
    <p>Vous pourrez ajouter d'autres véhicules depuis votre compte une fois votre inscription terminée.</p>

	<div>
		{{ form_start(carForm) }}

        {{ form_row(carForm.brand) }}
        {{ form_row(carForm.model) }}
        {{ form_row(carForm.color) }}
        {{ form_row(carForm.seats) }}
        {{ form_row(carForm.plate_number) }}
        {{ form_row(carForm.first_registration) }}

		<div class="mt-3">
			<button class="btn btn-primary" type="submit">Valider</button>
		</div>
		{{ form_end(carForm) }}
	</div>
{% endblock %}
