{% extends 'base.html.twig' %}

{% block title %}Votre compte chauffeur{% endblock %}

{% block body %}
<section>
    <h1>Votre Compte chauffeur</h1>
    {# Driver preferences form #}
   <div>
		{{ form_start(driverForm) }}
		<div class="mb-5">
			<label class="form-label">Animaux autorisés :</label>
			<div class="form-check">
				{{ form_widget(driverForm.animals, {'attr': {'class': 'form-check-input'}}) }}
			</div>
		</div>

		<div class="mb-5">
			<label class="form-label">Fumeurs autorisés :</label>
			<div class="form-check">
				{{ form_widget(driverForm.smoking, {'attr': {'class': 'form-check-input'}}) }}
			</div>
		</div>
		{{ form_row(driverForm.preferences) }}

		<div class="mt-3">
			<button class="btn btn-primary" type="submit">Envoyer</button>
		</div>
		{{ form_end(driverForm) }}
	</div>
        <h2 class="ms-3 mt-3 pb-3 border-bottom border-dark">Vos covoiturages</h2>
        <div>
            <a href="">Créer covoiturages</a>
        </div>
        <div>
            <a href="">Voir vos covoiturages</a>
        </div>
          <h2 class="ms-3 mt-3 pb-3 border-bottom border-dark">Vos véhicules</h2>
        <div>
            <a href="{{ path('app_driver_car_index') }}">Ajouter véhicules</a>
        </div>
        <div>
            <a href="{{ path('app_driver_car_list') }}">Voir vos véhicules</a>
        </div>
          <h2 class="ms-3 mt-3 pb-3 border-bottom border-dark">Avis reçus</h2>
        <div>
            <a href="">Voir les avis reçus</a>
        </div>
</section>
{% endblock %}
