<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			<!-- Fonts -->
			<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
            {# Font awesome #}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			<!-- CSS -->
			<link rel="stylesheet" href="{{ asset('styles/css/app.css') }}">
		{% endblock %}

		{% block javascripts %}
            {# Bootstrap JS #}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
	<header class="header">
		<nav class="navbar navbar-expand-lg bg-primary fs-5">
			<div class="container-fluid bg-primary pb-2">
				<a class="navbar-brand" href="{{ path('index') }}"></a>
										<img src="{{ asset('/images/Ecoride.png') }}" class="me-2" width="70" alt="logo du site"></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('index') }}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_carpool_index') }}">Covoiturage</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
						</li>
					</ul>
					<div class="dropdown text-end ms-auto ">
							<a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								{% if app.user %}
									<div class="user-profile d-flex align-items-center">
										{% if app.user.photo %}
											<img src="{{ asset('uploads/users/mini/40x40-' ~ app.user.photo) }}" class="rounded-circle" alt="Photo de profil" class="profile-picture">
										{% else %}
											<i class="fa fa-user-circle fs-2"></i>
										{% endif %}
										<span class="ms-2">Bonjour,
											{{ app.user.pseudo }}!</span>
									</div>
								{% else %}							
									<i class="fa fa-user-circle fs-2"></i>
								{% endif %}
							</a>
							<ul class="dropdown-menu dropdown-menu-lg-end">
							{% if app.user %}
								<li>
									<a class="dropdown-item" href="{{ path('app_user_account_index') }}">Compte</a>
								</li>
								{% if is_granted('ROLE_DRIVER') %}
								<li>
									<a class="dropdown-item" href="{{ path('app_driver_account_index') }}">Compte chauffeur</a>
								</li>
								{% elseif is_granted('ROLE_ADMIN') %}
									<li>
									<a class="dropdown-item" href="{{ path('app_admin_account') }}">Administrateur</a>
								</li>
								{% elseif is_granted('ROLE_STAFF') %}
									<li>
									<a class="dropdown-item" href="{{ path('app_staff_account') }}">Compte employé</a>
								</li>
								{% endif %}					
								<li>
									<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
								</li>
							{% else %}
								<li>
									<a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
								</li>
							{% endif %}
							</ul>
						</li>
					</ul>
						</div>
				</div>
			</div>
		</nav>
	</header>		
		{% include "flash_messages.html.twig" %}

		{% block body %}{% endblock %}
	<footer class="bg-primary fs-5">
		<div class="container-fluid py-3">
			<div class="row align-items-center" style="min-height: 110px;">
				<div class="col-12 col-md-4 text-center text-md-start mb-2 mb-md-0">
					<div>Mentions légales</div>
					<div><a class="nav-link" href="{{ path('app_review_index') }}">Votre avis</a></div>
					<div><a class="nav-link" href="{{ path('index') }}">Accueil</a></div>
				</div>
				<div class="col-12 col-md-4 text-center mb-2 mb-md-0">
					<div>Ecoride</div>
					<div>Nous contacter</div>
					<div><a href="mailto:contact@ecoride.fr" class="text-dark">contact@ecoride.fr</a></div>
				</div>
				<div class="col-12 col-md-4 d-flex justify-content-md-end justify-content-center align-items-center" style="height:100%;">
					<span>© 2025 Ecoride</span>
				</div>
				</div>
			</div>
		</footer>
	</body>
</html>
